@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap);

.nothing {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nothing img{
    width: 35%;
    height: 30%;
    vertical-align: middle;
    object-fit: cover;
}

.nothing h2 {
    font-size: calc(5px + 2vw);
    font-family: 'Indie Flower', cursive;
    color: rgb(95, 95, 95);
}

.nothing p {
    font-size: calc(2px + 1vw);
    font-family: 'Cabin', sans-serif;
    margin-top: 10px;
}